# MongoDB Configuration
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=CAPUVA

# AWS S3 Configuration
S3_BUCKET=afcbucketuva

# Testing Configuration
TEST_MODE=false

